td{
    border: solid 2px lightsalmon;
    width: fit-content;
    padding: 5px;
    padding-left:15px;
    padding-right:15px;
    position: relative;
}

#Basic-Functions{
    margin-left: 5%;
    width: 90%;
    padding-bottom: 3vh;
}

th{
    border: solid 2px lightsalmon;
}

#Example-Image{
    width: 80%;
    margin-left: 5%;
    padding-bottom: 3vh;
}